<?xml version="1.0"?>
<tables>
    <table name="all_fasta" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path</columns>
        <file path="all_fasta.loc" />
    </table>
</tables>